<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Get notified by email when your favourite tennis players play">
    <meta name="author" content="Troels Irgens-Møller">

    <title>Matchalert</title>
    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <meta property="og:title" content="Matchalert"/>
    <meta property="og:url" content="http://www.matchalert.net"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.matchalert.net/images/matchalert.png"/>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
          </ul>
        </nav>
        <h1 class="brand"><a href="/"><span class="ball">Match</span>alert</a></h1>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer class="navbar-fixed-bottom" style="text-align: center">Questions or suggestions? Contact <a href="mailto:support@matchalert.net">support@matchalert.net</a></footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
