<h2>Edit Subscription</h2>

<%= render "form.html", changeset: @changeset,
                        action: subscription_path(@conn, :update, @subscription),
                        players: @players %>

<div id="playerSelector"></div>

<span><%= link "Back", to: subscription_path(@conn, :index) %></span>
