<h3><%= @subscription.email %></h3>
<h3 class="brand">Favourite players  </h3>

<%= render "update_form.html", changeset: @changeset,
                        action: subscription_path(@conn, :update, @subscription.uuid),
                        players: @players %>
<%= render "unsubscribe_form.html", changeset: @changeset,
                        action: subscription_path(@conn, :delete, @subscription.uuid),
                        players: @players %>
