<h3><%= @subscription.email %></h3>
<h3 class="brand">Change favourite players  </h3>

<%= render "update_form.html", changeset: @changeset,
                        action: subscription_path(@conn, :update, @subscription),
                        players: @players %>
<h3 class="brand">Or unsubscribe</h3>
<%= render "unsubscribe_form.html", changeset: @changeset,
                        action: subscription_path(@conn, :delete, @subscription.uuid),
                        players: @players %>
