<h3 class="brand">Yes please, email me when my favourite tennis players play</h3>

<%= render "signup_form.html", changeset: @changeset,
                        action: subscription_path(@conn, :create), players: @players %>
