<h2>Show Player</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @player.name %>
  </li>

</ul>

<span><%= link "Edit", to: player_path(@conn, :edit, @player) %></span>
<span><%= link "Back", to: player_path(@conn, :index) %></span>
